{% extends 'my_admin/base.html' %}
{% load static %}
{% block title %}
Add news
{% endblock %}
{% block main %}


        <div><h1>Новость</h1></div><hr>

    <form id="big_form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
            <label for="{{ news.name_ru.id_for_label }}">Название ru:</label>
            {{ news.name_ru }}
            {{ news.name_ru.errors }}
        </div>
        <div class="field">
            <label for="{{ news.name_uk.id_for_label }}">Название:</label>
            {{ news.name_uk }}
            {{ news.name_uk.errors }}
        </div>
        <div class="field">
            <label for="{{ news.is_active.id_for_label }}">Показывать:</label>
            <div style="float: left; transform: scale(2); margin-left: 14px;">{{ news.is_active }}</div>
            {{ news.is_active.errors }}
        </div>
        <div class="field">
            <label for="{{ news.date_published.id_for_label }}">Дата публикации:</label>
            {{ news.date_published }}
            {{ news.date_published.errors }}
        </div>
        <div class="field">
            <label for="{{ news.description_uk.id_for_label }}">Описание:</label>
            {{ news.description_uk }}
            {{ news.description_uk.errors }}
        </div>
        <div class="field">
            <label for="{{ news.description_ru.id_for_label }}">Описание ru:</label>
            {{ news.description_ru }}
            {{ news.description_ru.errors }}
        </div>
        <div class="photo_field">
             <div class="field" style="float: left">
                <label for="{{ news.main_photo.id_for_label }}">Главный баннер:</label>
                 <div id = "box">
                     <button class="btn btn-light bt_for_img">Добавить</button>
                     <div id="main-ph" class="hidden_form"><input type="file" name="main_photo" accept="image/*" required="" id="{{ news.main_photo.id_for_label }}"></div>
                 </div>
                 <div id="rem_main" class="btn btn-light">Удалить</div>
                 {{ news.main_photo.errors }}
             </div>

            <div id = 'image_grid' style="background-image: url('{% static "my_admin/img/camera.jpg" %}');">
                {% if the_news %}
                    <img src="{{ the_news.main_photo.url }}" style="width: 194px; height: 144px;">
                {% endif %}
            </div>
        </div>

        <br><br><br><br><br><br><br><br>
        <div style="margin: 7px;float: left">Галерея картинок:</div>
    <br><br>
        <div id="photo_parent">
            <div class="big_gal_button">
                <div id="big_gal_button_top" class="btn btn-light"><img src="{%  static "my_admin/img/pngwing.png" %}" style="width: 50px;"></div>
                <div id="big_gal_button_bottom" class="btn btn-light"><img src="{%  static "my_admin/img/min.png" %}" style="width: 50px;"></div>
            </div>
          {{ photos.management_form }}
                {% for photo in photos %}
               <div class="boxes">
                    <div class="small_ph" style="background-image: url('{% static "my_admin/img/camera.jpg" %}');"></div>
                    <div class= "small_box">
                        <button class="small_down_butt small_bt_for_img btn btn-light">Загрузить</button>
                        <div class="small_hidden_form small_photo_form">{{ photo }}</div>
                    </div>
                    <div class="rem_small"><p class="rem_small_text">+</p></div>
                </div>
                {% endfor %}
        </div>

        <div class="field">
            <label for="{{ news.trailer_url.id_for_label }}">Ссылка на видео:</label>
            {{ news.trailer_url }}
            {{ news.trailer_url.errors }}
        </div>
       <br>
        <h3>SEO</h3>
        <hr>
        <div class="field">
            <label for="{{ seo.title.id_for_label }}">Title</label>
            {{ seo.title}}
            {{ seo.title.errors }}
        </div>
        <div class="field">
            <label for="{{ seo.url.id_for_label }}">URL:</label>
            {{ seo.url }}
            {{ seo.url.errors }}
        </div>
        <div class="field">
            <label for="{{ seo.keywords.id_for_label }}">Keywords:</label>
            {{ seo.keywords }}
            {{ seo.keywords.errors }}
        </div>
        <div class="field">
            <label for="{{ seo.definition.id_for_label }}">Description:</label>
            {{ seo.definition }}
            {{ seo.definition.errors }}
        </div>
      <div style="text-align: center">
          <input type="reset" id="main_res" class="btn btn-light" value="Сбросить форму">
          <div id="my_submit" class="btn btn-light" style="width: 200px;">Сохранить</div>
      </div>
    </form>
{% endblock %}

{% block js %}
<script src="{% static 'my_admin/js_for_cinema_app.js' %}"></script>
{% endblock %}