{% extends 'my_admin/base.html' %}
{% load static %}
{% block title %}
Разсылка
{% endblock %}
{% block main %}
        <div><h1>Email</h1></div><hr>

    <form id="big_form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {{ template.non_field_errors }}
    <div>
    <p style="float: left; margin-right: 7px; ">Выбрать email кому слать</p>
    <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Все пользователи на почту
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Выборочно
  </label>
</div>
    </div>
        <div class="photo_field" style="margin-left: -7px">
             <div class="field" style="float: left">
                <label for="{{ template.file.id_for_label }}" style="margin-right: 7px">Загрузить HTML письмо:</label>
                 <div id = "box" style="float: left; margin: 0px;">
                     <button id="" class="btn btn-light bt_for_img">Добавить</button>
                     <div id="main-ph" class="hidden_form"><input type="file" name="main_photo" accept=".html" required="" id="{{ template.file.id_for_label }}"></div>
                 </div>
                 {{ template.file.errors }}
             </div>
        </div>
        <br><br>
    <p style="float: left; margin-right: 7px;">Загруженный шаблон</p>
    <p style="float: left; margin-right: 7px; color: blue">Не выбран</p>
            <div id="box_for_templates" style="width: 400px; height: 200px; float: right; border: 3px solid black; border-radius: 15px;">
                <div class="form-check" style="float: left">
  <input style="float: left; margin: 7px;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    <p style="width: 200px; text-overflow: ellipsis; overflow: hidden; float: left; margin-right: 7px;">Радhhhhhhhhhhhhhhhjjjjjjjjjjjjjjjjjjjjjjjиоddd</p> <a style="color: red; float: left" href="#">Удалить</a>
  </label>
</div>
                <div class="form-check" style="float: left">
  <input style="float: left; margin: 7px;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    <p style="width: 200px; text-overflow: ellipsis; overflow: hidden; float: left; margin-right: 7px;">Радhhhhhhhhhhhhhhhjjjjjjjjjjjjjjjjjjjjjjjиоddd</p> <a style="color: red; float: left" href="#">Удалить</a>
  </label>
</div>
                <div class="form-check" style="float: left">
  <input style="float: left; margin: 7px;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    <p style="width: 200px; text-overflow: ellipsis; overflow: hidden; float: left; margin-right: 7px;">Радhhhhhhhhhhhhhhhjjjjjjjjjjjjjjjjjjjjjjjиоddd</p> <a style="color: red; float: left" href="#">Удалить</a>
  </label>
</div>
                <div class="form-check" style="float: left">
  <input style="float: left; margin: 7px;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    <p style="width: 200px; text-overflow: ellipsis; overflow: hidden; float: left; margin-right: 7px;">Радhhhhhhhhhhhhhhhjjjjjjjjjjjjjjjjjjjjjjjиоddd</p> <a style="color: red; float: left" href="#">Удалить</a>
  </label>
</div>
                <div class="form-check" style="float: left">
  <input style="float: left; margin: 7px;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    <p style="width: 200px; text-overflow: ellipsis; overflow: hidden; float: left; margin-right: 7px;">Радhhhhhhhhhhhhhhhjjjjjjjjjjjjjjjjjjjjjjjиоddd</p> <a style="color: red; float: left" href="#">Удалить</a>
  </label>
</div>
    </div>
<br><br>
    <p style="float: left; margin-right: 7px;">Шаблон используемый в текущей разсылке</p>
    <p style="float: left; margin-right: 7px; color: blue">Не выбран</p>

<br><br>
    <p style="float: left; margin-right: 7px;">Количество писем</p>
    <p style="float: left; margin-right: 7px; color: blue">0</p>
<br><br>

      <div style="text-align: center">
          <div id="submit" class="btn btn-light" style="width: 200px;">Начать разсылку</div>
      </div>
    </form>

{% endblock %}

{% block js %}
<script>
let form = document.getElementById('big_form');
let box = document.getElementById('box_for_templates');
let fileUploader = document.getElementById('id_file');
const csrftoken = get_cookie('csrftoken');

fileUploader.addEventListener('change', (event) => {
   let formData = new FormData();
   formData.append('file',fileUploader.files[0]);
    $.ajax({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    xhr.setRequestHeader("content-type", "application/json");
            }},
			type: "POST",
            cache: false,
			contentType: false,
			processData: false,
			url: '{% url "add_template" %}',
			data: formData,
			dataType : 'json',
			success: printTemplate
		});

});

function printTemplate(data, status, xhr){
    alert(data)
}

$.ajax('{% url "get_templates" %}',
    {
        success: printTemplate
});

function get_cookie ( cookie_name )
{
  let results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

  if ( results )
    return ( unescape ( results[2] ) );
  else
    return null;
}


</script>
{% endblock %}