{% extends 'my_admin/base.html' %}
{% load static %}
{% block title %}
Movie
{% endblock %}
{% block main %}
    {% if type == "movies" %}
    <h1>Список фильмов</h1>
    <div style="float: left"><a class="main_linc" href="{% url "add_movie" %}">Добавить фильм</a></div>
    {% endif %}

    {% if type == "cinemas" %}
    <h1>Список кинотеатров</h1>
    <div style="float: left"><a class="main_linc" href="{% url "add_cinema" %}">Добавить кинотеатр</a></div>
    {% endif %}

    {% if type == "pages" %}
    <h1>Страницы</h1>
    <div style="float: left"><a class="main_linc" href="{% url "add_page" %}">Добавить страницу</a></div>
    {% endif %}

    <div style="float: right">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Сортировка
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url type %}?type=1">По времени добавления</a></li>
          <li><a class="dropdown-item" href="{% url type %}?type=-1">По времени добавления (реверс)</a></li>
          <li><a class="dropdown-item" href="{% url type %}?type=2">По названию</a></li>
          <li><a class="dropdown-item" href="{% url type %}?type=-2">По названию (реверс)</a></li>
      </ul>
    </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
        {% if type == "movies" %}
      <th scope="col">Форматы</th>
        {% endif %}
      <th scope="col">Постер</th>
    </tr>
  </thead>
    <tbody>
      {% for model in page %}
        <tr>
          <td><strong><a href="/my_admin/{{ type }}/{{ model.seo.url }}">{{ model.name }}</a></strong></td>
        {% if type == "movies" %}
          <td>{% if model.is_2D %}2-D {% endif %}
              {% if model.is_3D %}3-D {% endif %}
              {% if model.is_IMAX %}IMAX {% endif %}
          </td>
        {% endif %}
        <td><img class="small_photo" src="{{ model.main_photo.url }}"></td>
        </tr>
      {% endfor %}
    </tbody>
</table>
  <div class="pagin_menu">
    {% if page.has_previous %}
      <a class="pagin_menu_minor" href="?page=1&type={{ sort_type }}">1</a>
      <a href="?page={{ page.previous_page_number }}&type={{ sort_type }}"><<</a>
    {% endif %}
      <span class="pagin_menu_major">{{ page.number }}</span>
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}&type={{ sort_type }}">>></a>
      <a class="pagin_menu_minor" href="?page={{ page.paginator.num_pages }}&type={{ sort_type }}">{{ page.paginator.num_pages }}</a>
    {% endif %}
  </div>
{% endblock %}

