{% extends 'my_admin/base.html' %}
{% load static %}
{% block title %}
{{ type }}
{% endblock %}
{% block main %}
    <h1>Пользователи</h1>
    <div style="float: right; margin: 14px">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Сортировка
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url "users" %}?type=1">По времени добавления</a></li>
          <li><a class="dropdown-item" href="{% url "users" %}?type=-1">По времени добавления (реверс)</a></li>
          <li><a class="dropdown-item" href="{% url "users" %}?type=2">По username</a></li>
          <li><a class="dropdown-item" href="{% url "users" %}?type=-2">По username (реверс)</a></li>
      </ul>
    </div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Телефон</th>
      <th scope="col">Имя</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
      {% for model in page %}
        <tr>
        <td>{{ model.id }}</td>
          <td><strong>{{ model.username }}</strong></td>
        <td>{{ model.email }}</td>
        <td>{{ model.phone_number }}</td>
        <td>{{ model.name }} {{ model.surname }}</td>
        <td>
                  <a href="/my_admin/users/{{ model.username }}" class="btn_change_hall btn btn-light">Изменить</a>
                  <a href="{% url 'delete_user' model.id %}" class="btn_rem_hall btn btn-light">Удалить</a>
        </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
  <div class="pagin_menu">
    {% if page.has_previous %}
      <a class="pagin_menu_minor" href="?page=1&type={{ sort_type }}">1</a>
      <a href="?page={{ page.previous_page_number }}&type={{ sort_type }}"><<</a>
    {% endif %}
      <span class="pagin_menu_major">{{ page.number }}</span>
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}&type={{ sort_type }}">>></a>
      <a class="pagin_menu_minor" href="?page={{ page.paginator.num_pages }}&type={{ sort_type }}">{{ page.paginator.num_pages }}</a>
    {% endif %}
  </div>
{% endblock %}

