{% extends 'pages_app/base.html' %}
{% load static %}
{% block title %}
    Мобильные приложения
{% endblock %}
{% block main %}
<main>
  <h1>Мобильные приложения</h1>
  <img src="{% static "pages_app/img/Kino_app_1.png" %}" style="margin-bottom: 17px; width: 700px;">
  <div style="max-width: 800px; float: right">
    <div style="margin: 7px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus iaculis ex a bibendum. Fusce finibus purus vitae lobortis tempus. Mauris vel leo massa. Aenean quis sollicitudin arcu, id maximus nisi. Donec scelerisque pretium tempor. Cras quis placerat enim. Nulla augue leo, interdum a nunc at, mollis commodo libero. Aliquam tempor, velit sit amet convallis sollicitudin, ipsum mauris fringilla enim, vel lobortis orci nunc vitae orci. Curabitur non lobortis ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla nunc enim, tempus eu arcu non, posuere finibus mi. Sed in interdum lacus, at laoreet nisi.
    </div>
    <img src="{% static "pages_app/img/Kino_app_0.png" %}" style="width: 800px;">
    <a href="#" style="float: right; margin: 7px;">
      <img src="img/android.png" style="max-width: 370px;">
    </a>
    <a href="#" style="float: left; margin: 7px;">
      <img src="{% static "pages_app/img/ios.png" %}" style="max-width: 390px;">
    </a>
    <a href="#" style="float: left; margin: 7px;">
      <img src="{% static 'pages_app/img/android.png' %}" style="max-width: 390px;">
    </a>
  </div>

  <aside style="max-width: 400px; height: 100%; float: left; position: sticky; top: 7px;">
    <img style="max-width: 200px; position: relative; display: block; margin-left: 7px; margin-top: 7px;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
    <img style="max-width: 200px; bottom: 10%; position: relative; display: block; margin-left: 7px; margin-top: 7px; float: bottom;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
  </aside>

</main>
{% endblock %}