{% load static %}
{% load i18n %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'pages_app/main.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>


<header>
{{ user }}

  <div class="container" style="max-width: 1100px;">
    <div class="row align-items-center">
      <div class="col-3" style="text-align: center; display: block">
          <a href="{% url 'front_main' %}"><img src="{% static 'pages_app/img/cinema-logo-design-template_92405-24.webp' %}" style="max-height: 110px"></a>
      </div>
      <div class="col-6" style="text-align: center">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark" style="border-radius: 4px; font-size: 14px;">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div style="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "front_movies" %}">{% trans "Афиша" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "front_schedule" %}">{% trans "Расписание" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "front_next_movies" %}">{% trans "Скоро" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "front_cinemas" %}">{% trans "Кинотеатры" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "promotions" %}">{% trans "Акции" %}</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans "О кинотеатре" %}
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="color: aliceblue">
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_news" %}">{% trans "Новости" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_the_cinema" %}">{% trans "О кинотеатре" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_for_partners" %}">{% trans "Реклама" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_vip_hall" %}">{% trans "VIP-зал" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_children" %}">{% trans "Детская комната" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_food_court" %}">{% trans "Кафе" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_app_prom" %}">{% trans "Мобильные приложения" %}</a></li>
                      <li><a class="dropdown-item" style="color: gray" href="{% url "front_contacts" %}">{% trans "Афиша" %}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-3" style="text-align: right; font-size: 23px; color: black;">
        <div class="col">
            {{about_cinema.phone_number.as_e164}}
        </div>
        <div class="col">
          {{about_cinema.phone_number2.as_e164}}
        </div>
      </div>
    </div>
    <div class="row align-items-center">


        {% if user.is_authenticated %}

        <div class="col-3" style="text-align: center">
        <div style="display: inline-block;">
          <a href="{% url "logout" %}"><button type="button" class="btn btn-dark btn-sm" style="min-width: 110px; color: #A9A9A9">{% trans "Выйти" %}</button></a>
        </div>
        <div style="display: inline-block;">
            <a href="{% url "profile" %}"><div class="btn btn-dark btn-sm" style="min-width: 110px; color: #A9A9A9">{{ user.username }}</div></a>
        </div>
      </div>

        {% else %}
      <div class="col-3" style="text-align: center">
        <div style="display: inline-block;">
          <a href="{% url "login" %}"><button type="button" class="btn btn-dark btn-sm" style="min-width: 110px; color: #A9A9A9">{% trans "Логин" %}</button></a>
        </div>
        <div style="display: inline-block;">
          <a href = "{% url "django_registration_register" %}"><button type="button" class="btn btn-dark btn-sm" style="min-width: 110px; color: #A9A9A9">{% trans "Регистрация" %}</button></a>
        </div>
      </div>
        {% endif %}


      <div class="col-3" style="float: left; text-align: left">
        <div class="container-fluid" style="float: left; width: 100%; text-align: left">
          <form class="d-flex" style="float: left; width: 100%; text-align: left">
            <input class="form-control me-2" type="search"placeholder="Поиск" aria-label="Search" style="float: left">
            <button class="btn btn-dark" type="submit" style="color: #A9A9A9">{% trans "Искать" %}</button>
          </form>
        </div>
      </div>
      <div class="col-3" style="text-align: right">
        <img src="{% static 'pages_app/img/facebook.png' %}" style="width: 30px">
        <img src="{% static 'pages_app/img/twitter.png' %}" style="width: 30px">
        <img src="{% static 'pages_app/img/plus.png' %}" style="width: 30px">
        <img src="{% static 'pages_app/img/telegram.png' %}" style="width: 30px">
          <img src="{% static 'pages_app/img/tiktok.png' %}" style="width: 30px">
      </div>
      <div class="col-3" style="text-align: right; ">
          <div style="max-width: 210px; float: right; ">

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />

        <select class="selectpicker form-select bg-dark" name="language" style="width: auto; color: aliceblue; border: black; color: #A9A9A9;" onchange="this.form.submit()">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}

              <option
                value="{{ language.code }}"
                {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                data-content='<img src="/static/images/flags/{{ language.code }}.gif"></span>
                <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                  {{ language.name_local }}
                </span>'>
                {{ language.name_local }}
              </option>

          {% endfor %}
        </select>
    </form>


          </div>
      </div>
    </div>
  </div>
</header>

{% block main %}

{% endblock %}

<footer style="text-align: center; vertical-align: center; background-color: #c4d0d9;">
  <div class="container" style="max-width: 1100px;">
    <div class="row">
      <div class="col-6">
        <p style="font-size: 20px">{% trans "Мобильные приложения" %}</p>
        <a href="..." style="float: right; margin: 7px;">
          <img src="{% static 'pages_app/img/android.png' %}" style="width: 230px">
        </a>
        <a href="..." style="float: left; margin: 7px;">
          <img src="{% static 'pages_app/img/ios.png' %}" style="width: 240px">
        </a>
      </div>
      <div class="col-2">
        <p style="font-size: 20px">{% trans "Афиша" %}</p>
        <p style="font-size: 14px">{% trans "Расписание" %}</p>
        <p style="font-size: 14px">{% trans "Скоро в прокате" %}</p>
        <p style="font-size: 14px">{% trans "Кинотеатры" %}</p>
        <p style="font-size: 14px">{% trans "Акции" %}</p>
      </div>
      <div class="col-2">
        <p style="font-size: 20px">{% trans "О кинотеатре" %}</p>
        <p style="font-size: 14px">{% trans "Кафе" %}</p>
        <p style="font-size: 14px">{% trans "Новости" %}</p>
        <p style="font-size: 14px">{% trans "Контакты" %}</p>
        <p style="font-size: 14px">{% trans "Детская комната" %}</p>
        <p style="font-size: 14px">{% trans "Реклама" %}</p>
        <p style="font-size: 14px">{% trans "VIP-зал" %}</p>
      </div>
      <div class="col-2">
          <img src="{% static 'pages_app/img/facebook.png' %}" style="width: 30px">
        <img src="{% static 'pages_app/img/twitter.png' %}" style="width: 30px">
        <img src="{% static 'pages_app/img/plus.png' %}" style="width: 30px">
        <img src="{% static 'pages_app/img/telegram.png' %}" style="width: 30px">
      </div>
    </div>
  </div>
</footer>

</body>
</html>