{% extends 'pages_app/base.html' %}
{% load static %}
{% block title %}
    {% load i18n %}
    {% trans "Реклама" %}
{% endblock %}
{% block main %}
<main>
  <h1>{% trans "Реклама" %}</h1>
  <img src="{{ for_par.main_photo.url }}" style="margin-bottom: 17px; max-width: 93%">
  <div>
      {% for photo in photos %}
    <img src="{{ photo.photo.url }}" style="margin: 17px; max-width: 250px;">
      {% endfor %}
  </div>
    <div>{{ for_par.description }}
    </div>
  <aside style="max-width: 400px; height: 100%; float: left; position: sticky; top: 7px;">
    <img style="max-width: 200px; position: relative; display: block; margin-left: 7px; margin-top: 7px;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
    <img style="max-width: 200px; bottom: 10%; position: relative; display: block; margin-left: 7px; margin-top: 7px; float: bottom;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
  </aside>

</main>
{% endblock %}