{% extends 'pages_app/base.html' %}
{% load static %}
{% block title %}
    {% load i18n %}
Promotions
{% endblock %}
{% block main %}
<main>
  <aside style="max-width: 400px; height: 100%; float: left; position: relative; top: 7px;">
    <img style="max-width: 200px; position: relative; display: block; margin-left: 7px; margin-top: 7px;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
    <img style="max-width: 200px; bottom: 10%; position: relative; display: block; margin-left: 7px; margin-top: 7px; float: bottom;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
  </aside>
  <div style="float: right; max-width: 700px;">
    <h2 style="margin-bottom: 14px">{% trans "Акции" %}</h2>
    <div class="container">
    <div class="row">
        {% for prom in page %}
      <div class="col promotion">
        <img src="{{ prom.main_photo.url }}" class="promotion_image">
          <a href="promotion/{{ prom.seo.url }}" style="color: black;"><p class="promotion_name">{{ prom.name }}</p></a>
        <p class="prom_text">{{ prom.description }}</p>
      </div>
        {% endfor %}
    </div>
  </div>
  </div>

  <div class="pagin_menu" style="float: right; margin-right: 45%">
    {% if page.has_previous %}
      <a class="pagin_menu_minor" href="?page=1">1</a>
      <a href="?page={{ page.previous_page_number }}"><<</a>
    {% endif %}
      <span class="pagin_menu_major">{{ page.number }}</span>
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">>></a>
      <a class="pagin_menu_minor" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
    {% endif %}
  </div>

</main>
{% endblock %}