body {
    text-align: center;
    background-color: bisque;
}

h1{
    text-align: center;
}

h3{
    margin-top: 21px;
    text-align: center;
}

main {
    max-width: 1100px;
    background-color: #c4d0d9;
    padding: 7px;
    display: inline-block;
    font-family: Verdana;
    text-align: left;
    border-radius: 14px;
}

nav{
    margin: 7px;
    border-radius: 0px;
}

label {
    float:left;
}


input{
    width: 75%;
}

textarea{
    width: 75%;
}

a{
    color: #505050;
}

a:hover{
    color: black;
}

.photo_field{
        margin: 7px;
}

#big_form{
    margin: 21px;

}

.field{
    margin: 7px;
    clear:both;
    text-align:right;

}

.hidden_form{
    width: 200px;
    height: 30px;
    position: relative;
    left: -50px;
    top: -30px;
    opacity: 0;
    z-index: 99999;
}

.bt_for_img{
    position: relative;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

#box{
    margin: 28px;
    width: 150px;
    height: 30px;
}

#box_for_banner{
    margin: 28px;
    width: 150px;
    height: 30px;
}

.small_box{
    margin: 14px
}

.small_bt_for_img{
    position: relative;
    width: 150px;
    height: 30px;
    font-size: 15px;

}

.small_photo_form{
    width: 200px; position: relative; top: -30px; z-index: 9999; opacity: 0;
}

.rem_small{
    position: relative;
    transform: rotate(45deg);
    top:-235px;
    right: -150px;
    background-color: bisque;
    cursor: default;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid grey;
    text-align: center
}

.rem_small_text{
    position: relative;
    top:-17px;
}

.small_ph{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: solid grey 3px;
    margin-bottom: -7px;
    height: 130px;
    width: 180px;
}

#image_grid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    background-color: white;
    border: solid grey 3px;
    height: 150px;
    overflow:hidden;
    width: 200px;
    margin: 14px;
}

#image_banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    background-color: white;
    border: solid grey 3px;
    height: 150px;
    overflow:hidden;
    width: 200px;
    margin: 14px;
}

#rem_main{
    cursor:default;
    position: relative;
    left: -28px;
    top: -20px;
    margin: 0;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

#rem_banner{
    cursor:default;
    position: relative;
    left: -28px;
    top: -20px;
    margin: 0;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

#main_res{
    width: 200px;
}

.radio{
    position: relative;
    top: -9px;
    float: left;
    margin: 10px;
    transform: scale(2);
}

.boxes{
    float: left;
    max-width: 200px;
    margin-right: 7px;
    margin-top: 14px;
    height: 180px;
}

#big_gal_button_top{
    font-size: 30px;
    height: 74px;
    border: 3px solid grey;
    border-radius: 7px;
    margin-bottom: 7px;
    width: 100%;
    cursor: default;
}

#big_gal_button_bottom{
    font-size: 30px;
    height: 74px;
    border: 3px solid grey;
    border-radius: 7px;
    margin-bottom: 0px;
    width: 100%;
    cursor: default;
}

.big_gal_button{
    margin-right: 14px;
    margin-top: 14px;
    float: left;
    text-align: center;
    height: 180px;
    width: 186px;
    margin-bottom: 7px;
}

.checkbox _title{
    float: left;
    margin-right: 14px;
    font-size: 20px;
    position: relative;
    top: -5px;
}

.error{
    border: solid 3px red;
    border-radius: 7px;
    padding: 3px;
}

.url_error{
    border: solid 3px yellow;
    border-radius: 7px;
    padding: 3px;
}

.length_error{
    border: solid 3px blue;
    border-radius: 7px;
    padding: 3px;
}

.radio_home{
    margin: 7px;
}

.errorlist{
    color: red;
    list-style-type: "";
}

.main_linc{
    font-size: 20px;
    border-radius: 7px;
    width: 100%;
    margin: 14px;
    padding: 7px;
    text-align: left;
}

.nav-link:hover{
    color: black;
}

.pagin_menu{
    text-align: center;
    font-size: 17px;
}

.pagin_menu a{
    color: black;
}

.pagin_menu_minor{
    font-size: 20px;
}

.pagin_menu_major{
    font-size: 25px;
}

.small_photo{
    width: 100px;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: antiquewhite;
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: #00c4ff;
    color: #fff;
}
.done {
    background-color: #5c6773;
    color: #fff;
}
.step-item {
    z-index: 10;
    text-align: center;
}
#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: wheat;
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: #1fc8e3;

}