{% extends 'pages_app/base.html' %}
{% load static %}
{% block title %}
    Кинотеатры
{% endblock %}
{% block main %}
<main>
<img src="img/our_cinema.img">
  <div style="text-align: center; float: right; max-width: 800px; margin-top: 14px;">
    <h2><b>Наши кинотеатры</b></h2>
    <div style="margin: 14px; display: inline-block;">
      <img src="img/cinema_0.img" style="max-width: 300px; margin: 7px;">
      <p style="font-size: 25px"><b>
        Київ
      </b></p>
    </div>
    <div style="margin: 14px; display: inline-block;">
      <img src="img/cinema_0.img" style="max-width: 300px; margin: 7px;">
      <p style="font-size: 25px"><b>
        Київ
      </b></p>
    </div>
    <div style="margin: 14px; display: inline-block;">
      <img src="img/cinema_0.img" style="max-width: 300px; margin: 7px;">
      <p style="font-size: 25px"><b>
        Київ
      </b></p>
    </div>
    <div style="margin: 14px; display: inline-block;">
      <img src="img/cinema_0.img" style="max-width: 300px; margin: 7px;">
      <p style="font-size: 25px"><b>
        Київ
      </b></p>
    </div>
    <div style="margin: 14px; display: inline-block;">
      <img src="img/cinema_0.img" style="max-width: 300px; margin: 7px;">
      <p style="font-size: 25px"><b>
        Київ
      </b></p>
    </div>
    <div style="margin: 14px; display: inline-block;">
      <img src="img/cinema_0.img" style="max-width: 300px; margin: 7px;">
      <p style="font-size: 25px"><b>
        Київ
      </b></p>
    </div>
  </div>
  <aside style="max-width: 400px; height: 100%; float: left; position: relative; top: 40px; margin-top: 20px;">
    <img style="max-width: 200px; position: relative; display: block; margin-left: 7px; margin-top: 7px;" src="img/vertical-promotion.png">
    <img style="max-width: 200px; bottom: 10%; position: relative; display: block; margin-left: 7px; margin-top: 7px; float: bottom;" src="img/vertical-promotion.png">
  </aside>
</main>
{% endblock %}