{% extends 'pages_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Расписание" %}
{% endblock %}
{% block main %}
<main>
  <div class="container">
    <div class="row">
      <select class="col form-select" aria-label="Cinema" style="margin: 7px">
        <option selected> {% trans "Кинотеатр" %}</option>
          {% for cinema in all_cinemas %}
        <option value="{{ cinema }}"><a href="{% url "front_schedule" %}?cinema={{ cinema.id }}">{{ cinema.name }}</a></option>
          {% endfor %}

      </select>
      <select class="col form-select" aria-label="Date" style="margin: 7px">
        <option selected>Дата</option>
          {% for date in all_dates %}
                <option value="{{ date }}"><a href="{% url "front_schedule" %}?date={{ date }}">{{ date }}</a></option>
          {% endfor %}
      </select>
      <select class="col form-select" aria-label="Film" style="margin: 7px">
        <option selected>Фильм</option>
          {% for movie in all_movies %}
              <option value="{{ movie }}"><a href="{% url "front_schedule" %}?movie={{ movie.id }}">{{ movie.name }}</a></option>
          {% endfor %}
      </select>
      <select class="col form-select" aria-label="Hall" style="margin: 7px">
        <option selected>Зал</option>
          {% for hall in all_halls %}
              <option value="{{ hall }}"><a href="{% url "front_schedule" %}?hall={{ hall.id }}">{{ hall.name }}</a></option>
          {% endfor %}
      </select>
    </div>
  </div>

  <div style="display: table; margin: 7px; text-align: left; font-size: 16px; font-weight: bolder;">
    <div style="display: table-cell; padding: 7px; ">{% trans "Показывать только: " %}</div>
    <div class="form-check form-check-inline" style="display: table-cell; padding-right: 20px">
      <input class="form-check-input bg-dark" type="checkbox" id="inlineCheckbox1" value="2D">
      <label class="form-check-label" for="inlineCheckbox1">2D</label>
    </div>
    <div class="form-check form-check-inline" style="display: table-cell; padding-right: 20px">
      <input class="form-check-input bg-dark" id="inlineCheckbox2" type="checkbox" value="VIP">
      <label class="form-check-label" for="inlineCheckbox2">VIP</label>
    </div>
    <div class="form-check form-check-inline" style="display: table-cell; padding-right: 20px">
      <input class="form-check-input bg-dark" id="inlineCheckbox3" type="checkbox" value="DBOX">
      <label class="form-check-label" for="inlineCheckbox3">DBOX</label>
    </div>
  </div>
  <aside style="max-width: 400px; height: 100%; float: left; top: 7px; margin-right: 14px;">
    <img style="max-width: 200px; position: relative; display: block; margin-left: 7px; margin-top: 7px;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
    <img style="max-width: 200px; bottom: 10%; position: relative; display: block; margin-left: 7px; margin-top: 7px; float: bottom;" src="{% static 'pages_app/img/vertical-promotion.png' %}">
  </aside>

  <div class="container" style="text-align: center; width: 870px;">
    <div class="row" style="font-size: 18px; font-weight: bolder;border: 2px solid black; border-radius: 3px;background-color: #c4d0d9; vertical-align: center">
      <div class="col-2" style="border-right: 2px solid black;"> {% trans "Время" %}</div>
      <div class="col-4" style="border-right: 2px solid black;"> {% trans "Фильм" %}</div>
      <div class="col-1" style="border-right: 2px solid black;"> {% trans "Зал" %}</div>
      <div class="col-2" style="border-right: 2px solid black;"> {% trans "Цена" %}</div>
      <div class="col-3"> {% trans "Бронировать" %}</div>
    </div>

    {% for date in dates %}
        <p style="margin: 14px; size: 21px;">{{ date }}</p>
        {% for session in page %}
            {% if session.date == date %}
                      <div class="row" style="font-size: 15px; padding: 4px; border-bottom: 2px dashed black;">
                      <div class="col-2" >{{ session.time }}</div>
                      <div class="col-4">{{ session.movie.name }}</div>
                      <div class="col-1">{{ session.hall.number }}</div>
                      <div class="col-2">{{ session.price }} ₴</div>
                      <div class="col-3">
                        <a href="{% url "front_booking" session.id %}" type="button" class="btn btn-sm btn-outline-dark">Бронировать</a>
                      </div>
                    </div>
            {% endif %}
        {% endfor %}
    {% endfor %}



  <div class="pagin_menu" style="float: right; margin-right: 45%">
    {% if page.has_previous %}
      <a class="pagin_menu_minor" href="?page=1">1</a>
      <a href="?page={{ page.previous_page_number }}"><<</a>
    {% endif %}
      <span class="pagin_menu_major">{{ page.number }}</span>
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">>></a>
      <a class="pagin_menu_minor" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
    {% endif %}
  </div>


  </div>
</main>
{% endblock %}